Week 1

Exercise 1

**Accept numbers from a user**

**Write a program to accept two numbers from the user and calculate multiplication**

In [5]:
num_1=int(input("Enter first number:"))
num_2=int(input("Enter second number:"))
product= num_1*num_2
print("Mulitiplication of two numbers:", product)

Enter first number:3
Enter second number:4
Mulitiplication of two numbers: 12

Exercise 2

**Display three string “Name”, “Is”, “James” as “Name**Is**James”.
Use the print() function to format the given words in the mentioned format. Display the **
separator between each string.**

In [4]:
Name1="Name"
Name2="is"
Name3="James"
print(Name1,Name2,Name3, sep="**")

Name**is**James

Exercise 3

**Display float number with 2 decimal places using print().**

In [3]:
number=458.4334343

print(round(number,2))

458.43

In [2]:
number=434.563456
updated_number=format(number,".2f")
print(updated_number)

434.56

Exercise 4

**Accept any three string from one input() call.**

**Write a program to take three names as input from a user in the single input() function call**

In [7]:
names=input("Enter three names:")
names_1=names.split()
if len(names_1) == 3:
    name1,name2,name3=names_1
    print("Enter first name:",name1)
    print("Enter second name:",name2)
    print("Enter third name:",name3)
else:
    print("Enter three names seperated by spaces:")

Enter three names:Sandy Dhiru Mahesh
Enter first name: Sandy
Enter second name: Dhiru
Enter third name: Mahesh

Exercise 5

**Calculate the multiplication and sum of two numbers.**

**Given two integer numbers return their product only if the product is equal to or lower than 1000,
else return their sum.**

In [22]:
number1=int(input("Enter first number:"))
number2=int(input("Enter second number:"))
add=number1+number2
product=number1*number2
print(number1)
print(number2)
if product<=1000:
    print(product)
    
else:
    
    print(add)

Enter first number:23
Enter second number:34
23
34
782

In [23]:
number1=int(input("Enter first number:"))
number2=int(input("Enter second number:"))
add=number1+number2
product=number1*number2
print(number1)
print(number2)
if product<=1000:
    print(product)
    
else:
    
    print(add)

Enter first number:12
Enter second number:333
12
333
345

Exercise 6

**Print the sum of the current number and the previous number.**

**Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current
and previous number.**

In [59]:
num = list(range(10))
previousNum = 0
for i in num:
    sum = previousNum + i
    print('Current Number '+ str(i)  +  ' Previous Number ' + str(previousNum)  + ' is= ' + str(sum))
    previousNum=i

Current Number 0 Previous Number 0 is= 0
Current Number 1 Previous Number 0 is= 1
Current Number 2 Previous Number 1 is= 3
Current Number 3 Previous Number 2 is= 5
Current Number 4 Previous Number 3 is= 7
Current Number 5 Previous Number 4 is= 9
Current Number 6 Previous Number 5 is= 11
Current Number 7 Previous Number 6 is= 13
Current Number 8 Previous Number 7 is= 15
Current Number 9 Previous Number 8 is= 17

Exercise 7

**Print characters from a string that are present at an even index number.**
**Write a program to accept a string from the user and display characters that are present at an even
index number. For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.**

In [49]:
name="sureshvish"
for index,  i in enumerate(name):
    if (name.index(i))%2==0:
        print(i)

s
r
s
v
s

Exercise 8

**Write a program that calculate and prints John’s monthly net salary:**
    
**wage = £80 per hour**

**Hours = 35 h per week**

**Tax = 15%**

In [53]:

hourly_wage = 80  
weekly_hours = 35  
tax_rate = 0.15  


weekly_gross_salary = hourly_wage * weekly_hours


monthly_gross_salary = weekly_gross_salary * 4


tax_deduction = monthly_gross_salary * tax_rate


monthly_net_salary = monthly_gross_salary - tax_deduction


print("John's monthly net salary is £", monthly_net_salary)

John's monthly net salary is £ 9520.0